<section class="statistics">
    <div class="stat-list">
        <div class="stat-or">
            <img src="~/clienttheme/images/people-svgrepo-com.svg" alt="">
            <h3>+2320</h3>
            <p>تعداد عضو</p>
        </div>
        <div class="stat-or">
            <img src="~/clienttheme/images/people-svgrepo-com.svg" alt="">
            <h3>4</h3>
            <p>تعداد پروژه‌ها</p>
        </div>
        <div class="stat-or">
            <img src="~/clienttheme/images/people-svgrepo-com.svg" alt="">
            <h3>464</h3>
            <p>تعداد واحد ها</p>
        </div>
        <div class="stat-or">
            <img src="~/clienttheme/images/people-svgrepo-com.svg" alt="">
            <h3>29</h3>
            <p>تعداد بازدید سایت</p>
        </div>
    </div>
</section>
