@model ServiceLayer.ViewModels.Admin.VideoNewsSiteViewModels.CreateVideoNewsSiteViewModel

@{
    Layout = "~/areas/administration/views/shared/_AdminLayout.cshtml";
    ViewData["Title"] = "ایجاد ویدیو جدید";
}

<div class="card">
    <div class="modal-header">
        <h4 class="modal-title">@ViewData["Title"]</h4>
    </div>

    <form asp-action="VideoCreate" asp-controller="NewsSite" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
            <input hidden asp-for="@Model.NewsSiteId" value="@ViewBag.Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label"></label>
                        <input type="text" class="form-control" id="Name1" asp-for="Title" onchange="makeSlug('Name1', 'Slug')">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Slug" class="form-label"></label>
                        <input type="text" class="form-control" asp-for="Slug">
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="video" class="form-label"></label>
                        <input type="file" class="form-control" asp-for="video" accept="video/*">
                        <span asp-validation-for="video" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="videoAlt" class="form-label"></label>
                        <input type="text" class="form-control" asp-for="videoAlt">
                        <span asp-validation-for="videoAlt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="videoTitle" class="form-label"></label>
                        <input type="text" class="form-control" asp-for="videoTitle">
                        <span asp-validation-for="videoTitle" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
        </div>
    </form>
</div>