<ul class="metismenu" id="menu">
    <li>
        <a href="/administration/Dashboard"><div class="parent-icon"><i class='bx bx-grid-alt'></i></div><div class="menu-title">داشبورد</div></a>
    </li>
    <li>
        <a href="/administration/SlideHeader"><div class="parent-icon"><i class='bx bx-slideshow'></i></div><div class="menu-title">اسلایدر</div></a>
    </li>
    <li>
        <a href="/administration/Project"><div class="parent-icon"><i class='bx bx-buildings'></i></div><div class="menu-title"> پروژه ها</div></a>
    </li>
    <li>
        <a href="/administration/Question"><div class="parent-icon"><i class='bx bx-question-mark'></i></div><div class="menu-title"> سوالات متداول</div></a>
    </li>
    <li>
        <a href="/administration/NewsSite"><div class="parent-icon"><i class='bx bx-news'></i></div><div class="menu-title">اخبار</div></a>
    </li>
    <li>
        <a href="/administration/Certificate"><div class="parent-icon"><i class='bx bx-certification'></i></div><div class="menu-title">افتخارات و گواهینامه ها</div></a>
    </li>
    <li>
        <a href="/administration/Podcast"><div class="parent-icon"><i class='bx bx-paperclip'></i></div><div class="menu-title">کلیپ ها و پادکست ها</div></a>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
                <i class='bx bx-git-repo-forked'></i>
            </div>
            <div class="menu-title"> چارت</div>
        </a>
        <ul>
            <li>
                <a href="/administration/ChartDesign"><i class="bx bx-left-arrow-alt"></i>چارت سازمانی</a>
            </li>
            <li>
                <a href="/administration/ChartPicture"><i class="bx bx-left-arrow-alt"></i>تصویر چارت سازمانی</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
                <i class='bx bx-comment-detail'></i>
            </div>
            <div class="menu-title"> سیستم بلاگینگ</div>
        </a>
        <ul>
            <li>
                <a href="/administration/Articles"><i class="bx bx-left-arrow-alt"></i>مقالات</a>
            </li>
            <li>
                <a href="/administration/ArticleCategories"><i class="bx bx-left-arrow-alt"></i>گروه مقالات</a>
            </li>
        </ul>
    </li>
     <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
                <i class='bx bx-user'></i>
            </div>
            <div class="menu-title"> مدیریت کاربران</div>
        </a>
        <ul>
            <li>
                <a href="/administration/account"><i class="bx bx-left-arrow-alt"></i>نمایش کاربران</a>
            </li>
            <li>
                <a href="/administration/account/RolesList"><i class="bx bx-left-arrow-alt"></i>نمایش نقش ها</a>
            </li>
          
        </ul>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
                <i class='bx bx-cog'></i>
            </div>
            <div class="menu-title"> تنظیمات</div>
        </a>
        <ul>
            <li>
                <a href="/administration/Settings"><i class="bx bx-left-arrow-alt"></i>تنظیمات سایت</a>
            </li>
            <li>
                <a href="/administration/SiteInfo"><i class="bx bx-left-arrow-alt"></i>درباره ما</a>
            </li>
          
        </ul>
    </li>
   
</ul>



