@model ServiceLayer.ViewModels.Admin.IdentityViewModels.LoginViewModel
@{
    ViewData["Title"] = "لیست سوالات متداول";
    Layout = "~/Views/Shared/_Layout_Null.cshtml";
}

<div class="wrapper">
	<div class="authentication-header"></div>
	<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
		<div class="container-fluid">
			<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
				<div class="col mx-auto">
					<div class="card">
						<div class="card-body">
							<div class="p-4 rounded">
								
								<div class="form-body">
									<form class="row g-3" asp-action="LoginByMobile" asp-controller="Identity">
										<div class="col-12">
											<label asp-for="PhoneNumber" class="form-label"></label>
											<input asp-for="PhoneNumber" type="text" class="form-control" id="inputEmailAddress"
												   placeholder="شماره همراه خود را وارد کنید">
										</div>
										<div class="col-12">
											<label asp-for="Password" class="form-label"></label>
											<div class="input-group" id="show_hide_password">
												<input asp-for="Password" type="password" class="form-control border-end-0"
													   id="inputChoosePassword"
													   placeholder="رمز عبور خود را وارد کنید"> <a href="javascript:;"
																					  class="input-group-text bg-transparent">
													<i class='bx bx-hide'></i>
												</a>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-check form-switch">
												<input asp-for="RememberMe" class="form-check-input" type="checkbox"
													   id="flexSwitchCheckChecked" checked>
												<label class="form-check-label" for="flexSwitchCheckChecked">
													مرا به
													خاطر بسپار
												</label>
											</div>
										</div>										
										<div class="col-12">
											<div class="d-grid">
												<button type="submit" class="btn btn-primary">
													<i class="bx bxs-lock-open"></i>ورود
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end row-->
		</div>
	</div>
</div>
<!--end wrapper-->


@section Scripts{
	<script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
		});
	</script>
}