@model ServiceLayer.ViewModels.Client.Farsi.podcastHomeViewModel

@{
    Layout = "~/areas/EN/views/shared/_enLayout.cshtml";
    ViewData["Title"] = Model.Title;
}


<section class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary section overlay-show overlay-op-8 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="mb-n2">@ViewData["Title"]</h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb breadcrumb-light d-block text-center">
                    <li><a href="/Home/Index">Home</a></li>
                    <li class="active">@Model.Title</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row mb-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe frameborder="0" allowfullscreen="" src="/ViewPicture/@Model.Video"></iframe>
        </div>
    </div>

    <div class="row mb-4">
    </div>

</div>