@model ServiceLayer.ViewModels.Admin.IdentityViewModels.PasswordUserViewModel

@{
    Layout = "~/areas/administration/views/shared/_AdminLayout.cshtml";
    ViewData["Title"] = "ایجاد رمز عبور جدید";
}
<div class="card">
    <div class="modal-header">
        <h4 class="modal-title">@ViewData["Title"] : @Model.DisplayName</h4>
    </div>

    <form asp-action="PasswordUser" asp-controller="Account"
          method="post"
          enctype="multipart/form-data">
        <div class="modal-body">
            <input hidden asp-for="Id" />
            <input hidden asp-for="DisplayName" />
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="pass" class="form-label"></label>
                        <input type="password" class="form-control" asp-for="pass">
                        <span asp-validation-for="pass" class="text-danger"></span>
                    </div>

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info waves-effect waves-light">تغییر رمز</button>
        </div>
    </form>
</div>

@section Scripts{

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#Answer').ckeditor();
        });
    </script>
}

