@model ServiceLayer.ViewModels.Admin.SlideViewModels.CreateSlideViewModel
@{
    Layout = "~/areas/administration/views/shared/_AdminLayout.cshtml";
    ViewData["Title"] = "ایجاد اسلاید جدید";
}

<div class="card">
    <div class="modal-header">
        <h4 class="modal-title">@ViewData["Title"]</h4>
    </div>

    <form asp-controller="SlideHeader" asp-action="Create"
          method="post"
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Language" class="form-label">انمتخاب زبان</label>
                        <select type="text" class="form-select" asp-for="Language">
                            <option value="0">فارسی</option>
                            <option value="1">انگلیسی</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label asp-for="Picture" class="form-label">عکس</label>
                        <input type="file" class="form-control" asp-for="Picture" accept="image/*">
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="PictureAlt" class="form-label">Alt</label>
                        <input type="text" class="form-control" asp-for="PictureAlt">
                        <span asp-validation-for="PictureAlt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="PictureTitle" class="form-label">عنوان عکس</label>
                        <input type="text" class="form-control" asp-for="PictureTitle">
                        <span asp-validation-for="PictureTitle" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Heading" class="form-label">سرتیتر</label>
                        <input type="text" class="form-control" asp-for="Heading">
                        <span asp-validation-for="Heading" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">عنوان</label>
                        <input type="text" class="form-control" asp-for="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label asp-for="Text" class="form-label">متن</label>
                        <input type="text" class="form-control" asp-for="Text">
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
          
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
        </div>
    </form>
</div>
