@model ServiceLayer.ViewModels.Admin.ChartViewModels.ChartPictureViewModel

@{
    Layout = "~/areas/administration/views/shared/_AdminLayout.cshtml";
    ViewData["title"] = "Chart Picture";
}



<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="pe-3"><h4 class="page-title">@ViewData["title"]</h4></div>

    <div class="ms-auto">
        <a class="btn btn-success btn-lg" asp-action="Index" asp-controller="ChartPicture">چارت فارسی </a>
    </div>
</div>
<hr />

<div class="card">
    <form asp-action="UpdateChartPicture" asp-controller="ChartPicture"
          method="post"
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <input hidden asp-for="Language" />
            <div class="row">
                <div class="col-md-6">
                    <div class="pe-3">
                        <label asp-for="Picture" class="form-label"></label>
                        <input type="file" class="form-control" asp-for="Picture" accept="image/*">
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                    <div class="pe-3">
                        <label asp-for="PictureAlt" class="form-label"></label>
                        <input type="text" class="form-control" asp-for="PictureAlt">
                        <span asp-validation-for="PictureAlt" class="text-danger"></span>
                    </div>
                    <div class="pe-3">
                        <label asp-for="PictureTitle" class="form-label"></label>
                        <input type="text" class="form-control" asp-for="PictureTitle">
                        <span asp-validation-for="PictureTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pe-3">
                        <img src="~/ViewPicture/@Model.PictureStr" width="390" height="280">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info waves-effect waves-light">بروز رسانی</button>
        </div>
    </form>
</div>
